<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>男人的书屋</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/vendor.css">
    <link rel="stylesheet" href="/static/css/main.css">
	<link rel="stylesheet" href="/static/css/rank.css">

    <!-- script
    ================================================== -->
    <script src="/static/js/modernizr.js"></script>
    <script src="/static/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- pageheader
    ================================================== -->
    <section class="s-pageheader s-pageheader--home">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="index.html">
                        <img src="/static/images/男人的书屋.png" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->
			<ul class="header__nav">
                <ul class="header__social">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <span class="profile-ava">
                                <img alt="" src="/static/images/avatars/a.jpg">
                            </span>
                            <li class="has-children">
                            <a href="#0" style="font-size:18px">冷月</a>
                            <ul class="sub-menu">
                            <li><a href="category.html">修改个人信息</a></li>
                            <li><a href="category.html">修改密码</a></li>
                            <li><a href="category.html">退出</a></li>
                            </ul>
                        </li>
                            <b class="caret"></b>
                        </a>
                    
                    
                </ul> <!-- end header__social -->
</ul>

                <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">

                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">搜索:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>
        
                    <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                </div>  <!-- end header__search -->


                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        <li class="current"><a href="/UIndex/uuuu" title="">主页</a></li>
						<li><a href="/UIndex/AllProducts" title="">全部作品</a></li>
                        <li class="has-children">
                            <a href="#0" title="">作品分类</a>
                            <ul class="sub-menu">
                            <li><a href="/UIndex/XuanHuan">玄幻</a></li>
                            <li><a href="/UIndex/XuanYi">悬疑</a></li>
                            <li><a href="/UIndex/DuShi">都市</a></li>
                            <li><a href="/UIndex/AiQing">爱情</a></li>
                            <li><a href="/UIndex/KeHuan">科幻</a></li>
                            <li><a href="/UIndex/LiShi">历史</a></li>
                            </ul>
                        </li>
                        <li><a href="style-guide.html" title="">我的书架</a></li>	
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->
               </div> <!-- header-content -->
        </header> <!-- header -->



                
 </div> <!-- end s-pageheader -->


    <section class="s-content s-content--narrow s-content--no-padding-head">

        <article class="row format-gallery">
        <div class="rank-box box-center cf">
        <div class="rank-nav-list fl">
    <ul>
        <li><a href=""><em class="iconfont">
            </em>全部榜单</a></li>
        <li>
            <a href=""><em class="iconfont"></em>点击榜</a>
        </li>
        <li>
            <a href=""><em class="iconfont"></em>收藏榜</a>
        </li>
        
    </ul>
</div>
        <div class="main-content-wrap fl">
            <div class="rank-header inner-wrap">
                <h3 class="lang">阅文风云榜</h3>   
            </div>
		<div class="rank-body">
                
                <div class="rank-view-list" id="rank-view-list">
                    <div class="book-img-text">
                        <ul>                 
                            <li data-rid="1" th:each="novellist:${pageInfo.list}">

                                <div class="book-img-box">
                                    <a href="" target="_blank" data-eid="" data-bid=""><img  th:src="${novellist.covers}"></a>
                                </div>
                                <div class="book-mid-info">
                                    <h4><a th:text="${novellist.nname}"  target="_blank" data-eid="" data-bid="" ><font color="black">${novellist.nname}<font></a></h4>
                                    <p class="author">
                                        <img src=""><a  th:text="${novellist.author}" class="name default" href="javascript:" target="_blank" data-eid="qd_C41"><font color="black">${novellist.author}</a><em>|</em><a href="" target="_blank" data-eid=""><font color="black">仙侠奇缘</a><em>|</em><span><font color="black">连载中</span>
                                    </p>
                                    <p class="intro" th:text="${novellist.brief}">
                                        ${novellist.brief}
                                </div>
                                <div class="book-right-info">
                                    <p class="btn">
                                        <a class="pink-btn" th:href="@{/chapter?nid={nid}(nid=${novellist.nid})}"  data-eid="" data-bid="">书籍详情</a>
                                        <a class="border-btn add-book" href="javascript:" data-eid="" data-bid="" data-bookid="">加入书架</a>
                                    </p>
                                </div>
                            </li>    
                        </ul>
                    </div>                    
                </div>
                
            </div>
                 <p>当前 <span th:text="${pageInfo.pageNum}"></span> 页,总 <span th:text="${pageInfo.pages}"></span> 页,共 <span th:text="${pageInfo.total}"></span> 条记录</p>
    <a align="left" th:href="@{/UIndex/AllProducts}">首页</a>
    <a th:href="@{/UIndex/uuuu(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
    <a th:href="@{/UIndex/uuuu(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
    
    <a align="right" th:href="@{/UIndex/uuuu(pageNum=${pageInfo.pages})}">尾页</a>
            </div>
            </div>
            

    <!-- end 目录列表 -->
            



 </article>
</section>



    <!-- Java Script
    ================================================== -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/main.js"></script>

</body>

</html>